
<div class="rightnav">
  <div class="headings">
    <h2><label name="labelname" >Create Account Here</label></h2>
  </div>
  <div class="registerform">
    <form action="#">
      <input type="text" name="fname" class="topfields" placeholder="First Name">
      <input type="text" name="lname" class="topfields" placeholder="Last Name">
      <br>
      <input type="text" name="contact" class="bottomfields" placeholder="Mobile Number Or Email">
      <input type="password" name="passwd" class="bottomfields" placeholder="Password">
      <br>
      <h3><label name="bday">BirthDay Date</label></h3>
      <input type="date" name="bdaydate" class="topfields">
      <br>
      <input type="radio" name="gender" id="male" value="male">
      <label for="male">Male</label>
      <input type="radio" name="gender" id="female" value="female">
      <label for="female">Female</label>
      <p>
        By Clicking on the Create button you agree to our <span><a href="#">Terms</a></span> and you
      have read our policies.
      </p>
      <input type="submit" value="Create Account" id="subbtn">
    </form>
  </div>
</div>
