.rightnav{
  float: left;
  width: 50%;
  height: 90vh;
  background-color: #f2f2f2;
}
.headings{
  margin-left: 5%;
}
.topfields{
  height: 40px;
  width: 30%;
  border: none;
  margin-bottom: 10px;
}

.registerform{
  margin-left: 5%;
}
.bottomfields{
  height: 40px;
  width: 60%;
  border: none;
  margin-bottom: 10px;
}
#subbtn{
  width: 20%;
  height: 40px;
  background-color: cornflowerblue;
  font-style: normal;
  font-size: 15px;
  font-family: "Britannic Bold";
  color: white;
}
